#Huratips_Loop > product-item:nth-child(1)


<product-item class="product-item two-point-o  item-horizontal ">
  <div class="product__wrapper">
    <div class="labels-wrapper product-horizontal metafeild-label">
      
        <span class="metafeild-label label--highlight custom-label label ui-2">60 Hours Playback</span>
      
      
<span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><span class="priority label z-10 label--highlight custom-label free-label bg-green" style="display: flex; align-items: center;">
                ✍️ Engraving Available
              </span><div class="product-item__image-wrapper "><a href="/products/airdopes-131" class="product-item__aspect-ratio aspect-ratio" style="padding-bottom: 100.0%; --aspect-ratio: 1">
          
            
              <img class="product-item__primary-image" loading="lazy" alt=" Airdopes 131 " src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/131_f04f74fd-45d4-4614-85cf-6ccf69c4cf90.jpg?v=1691395049">
            

        </a>
        
      </div>
    </div>
    <div class="product-item__info  ">
      <div class="product-item-meta"><span class="product-item-meta__reviews-badge text--small">
            
              
<div class="rating">
      <div class="rating__stars" role="img" aria-label="4.84 out of 5.0 stars"><span>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 22 22">
            <g id="Group_334346" data-name="Group 334346" transform="translate(17150 -5434)">
              <rect id="Rectangle_114376" data-name="Rectangle 114376" width="22" height="22" transform="translate(-17150 5434)" fill="transparent"></rect>
              <g id="Group_334341" data-name="Group 334341" transform="translate(-17149 5435)">
                <path id="Path_332351" data-name="Path 332351" d="M1153.144,361.362a1.527,1.527,0,0,1,2.738,0l2.313,4.692,5.154.768a1.527,1.527,0,0,1,.848,2.6l-3.729,3.683.868,5.179a1.526,1.526,0,0,1-2.216,1.6l-4.606-2.424-4.607,2.424a1.526,1.526,0,0,1-2.216-1.6l.868-5.179-3.729-3.683a1.526,1.526,0,0,1,.848-2.6l5.154-.768Z" transform="translate(-1144.374 -360.511)" fill="#f4c730" fill-rule="evenodd"></path>
              </g>
            </g>
            </svg>
        </span>
        4.8
      </div>
      
      
        <span class="rating__caption plp-reviews" style="font-size:12px!important;">1336<span><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Mask_group-10.png?v=1677571152" style="width:11px;height:11px;" alt="verified reviews"></span></span>
    </div>

              
              
<div class="mkp_bestseller"><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Flipkart.png?v=1691406536" loading="lazy" alt="flipkart" style="margin-top:-3px;"><p class="bestseller">Best seller</p>
                  </div>
            
            
            
          </span><div class="position-relative">
          
            <a href="/products/airdopes-131" class="product-item-meta__title tile-title"> Airdopes 131 </a>
            

            

            <div class="product-item-meta__price-list-container">
              
                <div class="price-list price-list--centered" style="border-bottom: 1px solid #e3e3e3;margin-bottom: 0.3rem;padding-bottom: 0.3rem;width: 100%;position: relative;"><span class="price price--highlight product-card-price" data-price="89900">
                        <span class="visually-hidden">Sale price</span>₹899</span>
                      <span class="price price--compare line-through" data-compare-price="299000">
                        <span class="visually-hidden">Regular price</span>₹2,990</span>
                      <p class="m-0 pr-2 off">70% off</p>
                    
              

                <button is="toggle-button" aria-expanded="false" class="variants-list hidden-tablet-and-up custom_atoc_btn ">
                  
  
    
    <span class="swatch-circle" style="background:#d1d1d1"></span>
  
    
    <span class="swatch-circle" style="background:#22201f"></span>
  
  
   <span class="more-colors">+5</span>
  

                </button>

                <button is="toggle-button" aria-expanded="false" class="variants-list hidden-phone">
                  
  
    
    <span class="swatch-circle" style="background:#d1d1d1"></span>
  
    
    <span class="swatch-circle" style="background:#22201f"></span>
  
  
   <span class="more-colors">+5</span>
  

                </button>
              
            
                  
                </div>

                
                  <div class="features-list only-horizontal">
                    
                    
                      <span class="feature feature-1">13mm drivers </span>
                      
                    
                      <span class="feature feature-2"> IWP Technology</span>
                      
                    
                  </div>
                
              
            </div>

          

              <div class="d-flex align-items-center product-item_atc "><div class="product-item__quick-form  flash">

                    <button is="toggle-button" loader="" aria-controls="product-template--14357041545314__main--4460669370466-drawer" aria-expanded="false" class=" button button--outline button--text button--full  hidden-touch hidden-phone" onclick="setTimeout(function(){  Shopify.personalizedText(event)},1500)">      <span class="loader-button__text">
                      

Add to cart
                      
                    </span>      <span class="loader-button__loader" hidden="">        <div class="spinner">          <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">            <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>          </svg>        </div>      </span>    </button>
                    
                    <button is="toggle-button" aria-controls="product-template--14357041545314__main--4460669370466-drawer" aria-expanded="false" class="product-item__quick-buy-button hidden-no-touch hidden-phone">
                      <span class="visually-hidden">ADD</span>
Add to cart
                    </button>

                    <button is="toggle-button" aria-controls="product-template--14357041545314__main--4460669370466-popover" aria-expanded="false" class=" product-item__quick-buy-button hidden-tablet-and-up" onclick="setTimeout(function(){ Shopify.personalizedText()},1500)">
                      <span class="visually-hidden">ADD</span>
                      

Add to cart
                      
                    </button>
                    
                  </div>
                  <quick-buy-popover id="product-template--14357041545314__main--4460669370466-popover" href="/products/airdopes-131?view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
                  <quick-buy-drawer id="product-template--14357041545314__main--4460669370466-drawer" href="/products/airdopes-131?view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer></div>
            
</div></div></div>
  </div>
</product-item>


document.querySelector("#Huratips_Loop > product-item:nth-child(1)")


-webkit-tap-highlight-color: transparent;
text-size-adjust: 100%;
font-style: var(--text-font-style);
--heading-color: 26, 32, 36;
--text-color: 26, 32, 36;
--background: 255, 255, 255;
--secondary-background: 199, 199, 199;
--border-color-darker: 163, 166, 167;
--success-color: 46, 158, 123;
--success-background: 213, 236, 229;
--error-color: 222, 42, 42;
--error-background: 253, 240, 240;
--primary-button-background: 255, 0, 0;
--primary-button-text-color: 255, 255, 255;
--secondary-button-background: 255, 0, 0;
--secondary-button-text-color: 255, 255, 255;
--product-star-rating: 255, 0, 0;
--product-on-sale-accent: 255, 0, 0;
--product-sold-out-accent: 91, 91, 91;
--product-custom-label-background: 64, 93, 230;
--product-custom-label-text-color: 255, 255, 255;
--product-custom-label-2-background: 243, 229, 182;
--product-custom-label-2-text-color: 0, 0, 0;
--product-low-stock-text-color: 222, 42, 42;
--product-in-stock-text-color: 46, 158, 123;
--root-heading-color: 26, 32, 36;
--root-text-color: 26, 32, 36;
--root-background: 255, 255, 255;
--root-border-color: 221, 222, 222;
--root-primary-button-background: 255, 0, 0;
--root-primary-button-text-color: 255, 255, 255;
--base-font-size: 15px;
--heading-font-weight: 700;
--heading-font-style: normal;
--heading-text-transform: normal;
--heading-font-family: "Metropolis", sans-serif;
--text-font-weight: 400;
--text-font-style: normal;
--text-font-bold-weight: 600;
--heading-xxsmall-font-size: 11px;
--button-border-radius: 4px;
--block-border-radius: 8px;
--block-border-radius-reduced: 4px;
--color-swatch-border-radius: 100%;
--form-input-gap: 16px;
--product-list-block-spacing: 32px;
--play-button-background: 255, 255, 255;
--play-button-arrow: 26, 32, 36;
--transform-logical-flip: 1;
--transform-origin-start: left;
--transform-origin-end: right;
--zoom-cursor-svg-url: url(//www.boat-lifestyle.com/cdn/shop/t/157/assets/zoom-cursor.svg?v=162812418932909406031699626034);
--arrow-right-svg-url: url(//www.boat-lifestyle.com/cdn/shop/t/157/assets/arrow-right.svg?v=16228403604625819711683199585);
--arrow-left-svg-url: url(//www.boat-lifestyle.com/cdn/shop/t/157/assets/arrow-left.svg?v=35140725818335026081683199585);
--container-max-width: 1600px;
--container-max-width-minus-gutters: calc(var(--container-max-width) - (var(--container-gutter)) * 2);
--container-outer-width: max(calc((100vw - var(--container-max-width-minus-gutters)) / 2), var(--container-gutter));
--container-inner-width: calc(100vw - var(--container-outer-width) * 2);
--grid-gap: 24px;
--grid-column-width: calc((100vw - var(--container-outer-width) * 2 - var(--grid-gap) * (var(--grid-column-count) - 1)) / var(--grid-column-count));
--payment-terms-background-color: #ffffff;
--container-gutter: 40px;
--grid-column-count: 20;
--vertical-breather: 48px;
--vertical-breather-tight: 48px;
--heading-xsmall-font-size: 12px;
--heading-small-font-size: 13px;
--heading-large-font-size: 52px;
--heading-h1-font-size: 48px;
--heading-h2-font-size: 38px;
--heading-h3-font-size: 32px;
--heading-h4-font-size: 24px;
--heading-h5-font-size: 20px;
--heading-h6-font-size: 18px;
--form-input-field-height: 52px;
--form-submit-margin: 32px;
--button-height: 52px;
--button-small-height: 44px;
--quinn-primary-text-color: #ffffff;
--quinn-primary-color: #ff0000;
--quinn-primary-border-color: #ff0000;
--quinn-secondary-text-color: #ffffff;
--quinn-secondary-color: #1a2024;
--quinn-secondary-border-color: #1a2024;
--quinn-story-outline-color: #ff0000;
--quinn-story-title-color: #000000;
--quinn-cart-checkout-btn-bg-color: #fff;
--quinn-cart-checkout-btn-color: #000;
--quinn-cart-checkout-border-color: #eee;
--bg-color: yellow;
--border-color: red;
--quinn_loader_color: #E6E4EB;
--enable-sticky-announcement-bar: 0;
--enable-sticky-header: 1;
--enable-transparent-header: 0;
--loading-bar-background: 0, 0, 0;
--anchor-offset: 60px;
--window-height: 866px;
--header-height: 125.59375px;
--header-height-without-bottom-nav: 76.90625px;
--mobilemenuHeight: 122.1875px;
--mobilemenuHeightforbtt: 93.1875px;
--mobilemenuHeightNew: 119.1875px;
--announcement-bar-height: 39px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
text-align: left;
color: rgb(var(--text-color));
--section-products-per-row: 2;
--container-outer-margin: 0px;
--product-list-column-gap: var(--product-list-block-spacing);
box-sizing: border-box!important;
-webkit-font-smoothing: antialiased;
font-family: Metropolis!important;
position: relative;
display: flex;
background: #e3e3e3;
flex-direction: column!important;
border-radius: 10px;
border: solid 1px #ecf0f4;
background-color: #fafafa;